.User{
    width: 100%;
    display: flex;
    justify-content: center;
}
.user-content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #00A2A2;
}
.illustration>img{
    max-width: 600px;
    object-fit: contain;
}
.User-form-container{
    width: 100%;
    height: 100vh;
    background-color: white;
}
.form-user{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.4rem;
}
.form-user>input{
    padding: 0.8rem;
    border: 1px solid #E6EEFF;
    border-radius: 0.7rem;
    font-size: 1.1rem;
    color: gray;
}
.user-btn{
    background-color: #00A2A2;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
}
.user-btn:hover{
    background-color: #007272;
    transition: 300ms;
}
.link{
    width: 100%;
    text-align: center;
    padding: 1rem;
}
.back{
    font-size: 1.5rem;
    text-align: center;
    color: royalblue;
    text-decoration: underline;
}
.user-text{
    text-align: center;
    padding: 0.7rem;
    color: #00A2A2;
}
@media(max-width:1200px){
    .User{
       flex-direction: column;
    }
}
@media(max-width:670px){
    .illustration{
        max-width: 300px;
    }
}
@media(max-width:425px){
    .user-text>h2{
        font-size: 1.2rem;
    }
}